#form-basic-field-anspname,
#form-basic-field-anspfon
    {
    width: 250px;
    }

#form-basic-field-title
    {
    width: 650px;
    }

#form-basic-field-traeger,
#form-basic-field-unfus2
    {
    width: 510px;
    }



